<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
  <!-- import CSS -->
  <title>积分评价系统</title>
  <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.5/lib/index.css">
  
  <style type="text/css">
  	*{box-sizing: border-box;margin: 0;padding: 0;font-family:'PingFangSC-regular';}
	html{background: rgba(248, 248, 248, 1);}
	.login{
		width: 100%;
		height: 17.8rem;
		background-image:  url(img/15.png);
		border: 0.013333rem solid #FFFFFF;
	}
	.loginbox{
		width: 8.493333rem;
		height: 6.88rem;
		margin: 3.853333rem auto;
		
	}
	.loginbox1{
		width: 3.2rem;
		height: 0.786666rem;
		color: rgba(255, 255, 255, 1);
		font-size: 0.533333rem;
		text-align: left;
		font-family: SourceHanSansSC-bold;
		margin: 0 auto;
	}
	.loginbox2{
		width: 4.48rem;
		height: 0.48rem;
		color: #FFFFFF;
		font-size: 0.32rem;
		text-align: left;
		opacity: 0.81;
		font-family: SourceHanSansSC-bold;
		margin: 0.253333rem auto;
	}
  </style>
</head>
<body>
   <div id="meng" style="width:100%;height:100%;position:fixed;z-index:200;background:rgba(255,255,255,0.98);top:0;left:0;text-align:center;">
   	  <img style="width:1.333333rem;height:1.333333rem;margin-top:80%;" src="img/c4165dbea595b8cd5fe581cbe392deb3.gif" alt="">
   </div>
  <div id="app" style="">
      <div class="login">
		  <div class="loginbox">
			
			<div class="loginbox1">用户实名认证</div>
		    <div class="loginbox2">通过认证后可享受积分兑换服务</div>
				<input type="text" v-model="fomact.name" name="username" placeholder="输入您的姓名" style="padding-left: 0.466666rem; font-size: 0.373333rem;color: #999999; width: 8.493333rem;height: 1.2rem;border-radius: 0.08rem;line-height: 0.266666rem;text-align: left;border: 0.013333rem solid rgba(255,255,255,0);margin-top: 0.786666rem;"/>
			
				<input type="number" v-model="fomact.card" oninput="if(value.length>18)value.slice(0,18)" placeholder="输入您的身份证号码" style="padding-left: 0.466666rem; font-size: 0.373333rem;color: #999999; width: 8.493333rem;height: 1.2rem;border-radius: 0.08rem;line-height: 0.266666rem;text-align: left;border: 0.013333rem solid rgba(255,255,255,0);margin-top: 0.293333rem;"/>
			
				<input type="button" @click="goren" value="提交认证" style="background-color: #0961E6;color: #FFFFFF;font-size: 0.373333rem; width: 8.493333rem;height: 1.2rem;border-radius: 0.08rem;line-height: 0.266666rem;text-align: center;border: 0.013333rem solid rgba(255,255,255,0);margin-top: 0.68rem;"/>
			
		  </div>
		  
	  </div>
  </div>
</body>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="./js/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vant@2.5/lib/vant.min.js"></script>
  <script>
	document.body.addEventListener("focusout", () => {//软键盘收起的事件处理
	  setTimeout(() => {
	    const scrollHeight =document.documentElement.scrollTop || document.body.scrollTop || 0;window.scrollTo(0, Math.max(scrollHeight - 1, 0));
	  }, 100);
	});
    new Vue({
      el: '#app',
	  computed:{
		
	  },
      data: function() {
        return {
			date_url:'http://192.168.124.9',
			// date_url:'',
			fomact:{
				id:'',//用户关系信息ID (用于关联人口与微信的表的ID)
					name:"",//姓名
					card:'',//身份证
			}
		}
      },
	  
	  mounted() {
		$('#meng').hide();
	    
	  },
	  methods: {
		  goren(){
			  
			if(this.fomact.name){}else{vant.Toast.fail('请输入姓名');return false}
			if(this.fomact.card){}else{vant.Toast.fail('请输入身份证号');return false}
			this.fomact.id = localStorage.ids;
			vant.Toast.loading({ message: '加载中...',forbidClick:true});
			$.ajax({
			  url:this.date_url+'/xf/point_mobile/user_approve',
			  type: 'post',
			  // 设置的是请求参数
			  data:this.fomact,
			  dataType: 'json',
			  success: (res)=> {
				if(Object.prototype.toString.call(res) != '[object Object]'){res = JSON.parse(res)}
				  if ( res.code == '200' ) {
					 console.log(res,'数据')
					 localStorage.id = res.data;
					 vant.Toast.success('认证成功');
				     window.setTimeout(()=>{
						 history.go(-1)
					 },1000)
				  } else if ( res.code == '300' ) {
				    vant.Toast.fail(res.msg);
				  }
					vant.Toast.clear();
			  }
			})
		  },
		  
	    /**
	     * 获取全部职位列表
	     */
	   //  getJobList() {
		  // vant.Toast.loading({ message: '加载中...',forbidClick:true});
	   //    let params = {
	   //      page: this.page,
	   //      size: this.size,
	  	//     keyword:this.input3,
	   //    };
		  // $.ajax({
		  //   url:this.date_url+'/zp/personal/get_all_job',
		  //   type: 'post',
		  //   // 设置的是请求参数
		  //   data:params,
		  //   dataType: 'json',
		  //   success: (res)=> {
		  // 	if(Object.prototype.toString.call(res) != '[object Object]'){res = JSON.parse(res)}
		  // 	  if ( res.code === '200' ) {
		  // 	  this.data = res.data;
			 //  console.log(this.data,'职位数据')
		  // 	  this.finished = res.count==this.data.length?true:false;
		  // 	  // 加载状态结束
		  // 	  this.loading = false;
		  // 	  } else if ( res.code === '300' ) {
		  // 	  	this.data = [];
		  // 	    vant.Toast.fail(res.msg);
		  // 	  }
			 //   vant.Toast.clear();
		  //   }
		  // })
	   //  },
	    
	  }
    })
  </script>
  <style scoped="scoped">
	  
  	 
  </style>
</html>